@{
    ViewData["Title"] = "Contato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="map">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-4 col-md-7">
                            <div class="map__inner">
                                <h6>Dulcita</h6>
                                <ul>
                                <li>R. Primeiro de Março, 25 - Centro, Barra Bonita - SP,</li>
                                <li>Dulcita@support.com</li>
                                <li>(14) 98827-0845</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map__iframe">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14744.726039588475!2d-48.5609583!3d-22.4973721!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c74fee1e55618f%3A0x973e8faba1da66a6!2sDulcit%C3%A1%20Donuts!5e0!3m2!1spt-BR!2sbr!4v1724713781087!5m2!1spt-BR!2sbr" height="300" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class="contact__address">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="contact__address__item">
                            <h6>Whatsapp</h6>
                            <ul>
                                <li>
                                    <p>Fale conosco pelo Whatsapp</p>
                                </li>
                                    <p>(14) 98827-0845</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="contact__address__item">
                            <h6>Instagram</h6>
                            <ul>
                                <li>
                                    <p>Fale conosco pelo Instagram</p>
                                </li>
                                    <p>instagram.com/donutsdulcitabbonita</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="contact__address__item">
                            <h6>Facebook</h6>
                            <ul>
                                <li>
                                    <p>Fale conosco pelo Facebook</p>
                                </li>
                                    <p>facebook.com/donutsdulcita</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->