@{
    ViewData["Title"] = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/sobre.css">

 <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Sobre</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a asp-action="Index" asp-controller="Home">Início</a>
                        <span>Sobre</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about__video set-bg" data-setbg="/img/about-video.jpg">
                        <a href="~/img/videosobre.mp4"
                        class="play-btn video-popup"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="about__text">
                        <div class="section-title">
                            <span>Sobre a loja de Donuts</span>
                            <h2>Donuts na melhor loja da região!</h2>
                        </div>
                        <p>A melhor loja de Donuts de Barra Bonita e região, venha conferir nossas doçuras!</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="about__bar">
                        <div class="about__bar__item">
                            <p>Design dos Donuts</p>
                            <div id="bar1" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="100"></span>
                            </div>
                        </div>
                        <div class="about__bar__item">
                            <p>Ingredientes dos Donuts</p>
                            <div id="bar2" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="100"></span>
                            </div>
                        </div>
                        <div class="about__bar__item">
                            <p>Receitas dos Donuts</p>
                            <div id="bar3" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="100"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">SOBRE NÓS</h1>
        </div>
    </div>

    <div class="row mb-5 align-items-center align-top">
        <div class="col-md-6 text-column">
            <h2 class="highlight-title">Como tudo começou?</h2>
            <p>A Dulcitá nasceu da paixão e da determinação de duas cunhadas, que transformaram um sonho em um negócio próspero. Nossa história começou quando trabalhávamos juntas em uma farmácia e, durante os intervalos de almoço, vendíamos diversos tipos de doces para complementar a renda. No entanto, essa parceria foi interrompida em 2021, quando Luana engravidou e ficou desempregada, buscando uma forma de ganhar dinheiro sem sair de casa. Foi então que surgiu a ideia de vender donuts. Apesar de nenhuma de nós saber como fazer, decidimos aprender juntas. Luana comprou um curso online e, após muitos testes e erros, conseguimos aperfeiçoar a receita. A produção inicial foi difícil, mas com esforço, começamos a vender pelo Instagram. A aceitação foi surpreendente e rapidamente conquistamos um público fiel.</p>
        </div>
        <div class="col-md-6">
            <img src="~/img/cunhadas.jpg" alt="Cunhadas" class="img-fluid" style="border-radius: 20px;">
        </div>
    </div>

    <div class="row mb-5 align-items-center align-top">
        <div class="col-md-6 second-image">
            <img src="~/img/lojafrente.png" alt="Loja Dulcitá" class="img-fluid">
        </div>
        <div class="col-md-6 text-column">
            <h2 class="highlight-title">Desafios Iniciais e a grande decisão</h2>
            <p>Com o aumento da demanda, enfrentamos novos desafios. No início, a produção era manual e não conseguia acompanhar o volume de pedidos. Assim, decidimos investir em uma máquina industrial para otimizar a produção, apesar das dúvidas e do alto custo. Essa decisão foi crucial para expandir o negócio. Mesmo com a crescente popularidade dos nossos donuts, continuávamos em nossos empregos formais. Luana conseguiu um emprego em um hospital, e as vendas eram feitas sob encomenda, conciliando os horários de almoço para produção e entrega. Aos sábados, dedicávamos-nos integralmente ao negócio, trabalhando até tarde para atender a alta demanda. Insatisfeitas com a vida profissional limitada pelos empregos formais, mas receosas de arriscar, demoramos para tomar a decisão definitiva. Foi somente em novembro de 2023 que uma de nós tomou coragem e pediu demissão, incentivando a outra a fazer o mesmo pouco tempo depois. Determinadas a realizar nosso sonho, inauguramos a loja física da Dulcitá em 3 de fevereiro de 2024.</p>
        </div>
    </div>

    <div class="row mb-5 align-items-center align-top">
        <div class="col-md-6 text-column">
            <h2 class="highlight-title">Significado do nome Dulcitá e consolidação do negócio</h2>
            <p>O nome Dulcitá, escolhido por Luana, significa "doce" em latim, representando a essência do nosso negócio. Desde então, a Dulcitá tem se consolidado como uma referência em donuts artesanais, fruto da nossa coragem, dedicação e amor pelo que fazemos.</p>
        </div>
        <div class="col-md-6 donut-imgs">
            <img src="~/img/sobredonuts.png" alt="Donut 1" class="img-fluid">
        </div>
    </div>
</div>
